apiVersion: v1
kind: ServiceAccount
metadata:
  name: aws-load-balancer-controller
  namespace: kube-system
  annotations:
    # Use output from Terraform: alb_controller_iam_role_arn
    eks.amazonaws.com/role-arn: arn:aws:iam::875136960360:role/e-commerce-eks-cluster-alb-controller-role
